@charset "UTF-8";

:root {
    --c1: #ffffff;
    --c2: #adadad;
    --c3: #340442;
    --c4: #12381b;
    --c5: #FFB323;
    --c6: #7f5ac5;
    
    --fonte-padrao: 'Roboto', sans-serif;
    --fonte-destaque: 'Varela Round', sans-serif;
}

* {
    font-family: var(--fonte-padrao);
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}

html {
    font-size: 62.5%;
}

html, body {
    background-color: var(--c1);
    height: 100vh;
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100%;
}

header {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titulo {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

#titulo img {
    width: 45px;
}

#titulo p {
    font-size: 2rem;
}

main {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: separate;
}

tr {
    display: flex;
    column-gap: 4px;
    position: relative;
}

.draggable {
    position: relative;
    top: 0px;
    left: 0px;
    transition: transform 0.3s linear z-index 0.3 linear;
    z-index: 0;
}

.dragging {
    transform: scale(1.1);
    z-index: 999;
}

tr:nth-child(2n) {
    position: relative;
    right: -37px;
}

td {
    position: relative;
    width: 70px;
    height: 70px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #f0eeee;
}

td div p {
    text-align: center;
    font-size: 1.2rem;
}

.player1 {
    background-color: #FFB323;
}

.player2{
    background-color: #340442;
}

.undefined {
    background-color: #cdcdcd;
}

footer {
    display: flex;
    background-color:aquamarine;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 75px;
}

ul {
    display: flex;
    column-gap: 2px;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
